@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  color: #333;
}
/******************* CSS animation ******************/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/********************** header ********************/
.header {
  background-color: antiquewhite;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 15px;
  background-color: #333;
  color: #eee;
}
.logo {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 2.3rem;
  cursor: pointer;
  transition: ease-in-out 400ms;
}
.logo span {
  padding: 0 5px;
  font-size: 2.5rem;
}
.logo:hover {
  transform: scale(1.02);
}
/********************** side-bar ********************/
.side-bar {
  grid-column: 1;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  gap: 10px;
  list-style: none;
  position: relative;
}
li.project {
  min-width: 70%;
  padding: 10px;
  cursor: pointer;
  transition: ease-in-out 200ms;
  border-radius: 10px;
}
ul a {
  text-decoration: none;
  color: inherit;
  position: relative;
  border-radius: 10px;
}
ul a:hover {
  background-color: #c0bfbf;
}
.selected-project {
  /* hover effect by js */
  background-color: #c0bfbf;
}
ul a span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
ul a span:hover {
  color: rgba(255, 0, 0, 0.57);
}
.new {
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
}
.new:hover {
  background-color: #c0bfbf;
}
.new-project {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(70px);
}
.new-project input {
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  box-shadow: #00000059 1px 1px 3px;
  height: 25px;
  padding: 3px;
}
.new-project button {
  background-color: #333;
  color: #ddd;
}
.new-project button:hover {
  background-color: #484848;
}
.custom-projects {
  text-align: center;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  color: #000000;
  border-bottom: 2px solid #000000;
  font-weight: bold;
}
/********************** main-content ********************/
.main-content {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 15px;
  animation: fadeIn 1s;
}
.card-item {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 0.3fr;
  align-items: flex-start;
  padding: 15px;
  border: 2px solid #454545;
  user-select: none;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}
.card-item:hover {
  transform: scale(1.02);
}
.card-item:active {
  transform: scale(0.98);
}
.task .title {
  font-size: 18px;
  font-weight: 600;
}
.task .details {
  font-size: 14px;
}
.due-date p {
  width: max-content;
  padding: 5px;
}
.main-content .settings {
  display: flex;
}
.main-content .settings span {
  cursor: pointer;
  color: #000000;
}
.settings {
  position: relative;
}
.settings #select {
  background-color: #c0c0c0;
  position: absolute;
  cursor: pointer;
  transform: translateY(-60px) translateX(-73px);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  animation: fadeIn 0.2s;
}
#select option {
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
#select option:hover {
  background-color: #d5d5d5;
}
.show {
  visibility: hidden;
}
/********************** new task container ********************/
.add-new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out 200ms;
}
.add-new-task:hover {
  background-color: #ddd;
}
.add-new-task span {
  font-size: 1.5rem;
  padding: 0 5px;
}

/********************** from styling ********************/
form {
  width: 330px;
  padding: 15px;
  background-color: #eee;
  background-image: linear-gradient(
    to left bottom,
    #3333339a,
    #595959b1,
    #838383ad,
    #afafafab,
    #ddddddb4
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  visibility: hidden;
  left: calc(50% - 165px);
  top: calc(20%);
  border-radius: 10px;
  box-shadow: #000000ad 0px 5px 10px;
  z-index: 1;
}
form input {
  font-family: inherit;
  width: max(200px, 50%);
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  box-shadow: #00000059 2px 3px 4px;
}
input:focus {
  outline: none;
}
form div {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
div.priority {
  align-items: center;
}
div.priority p {
  align-self: flex-start;
}
div.priority div {
  flex-direction: row;
  width: 70%;
}
div.priority div label {
  width: 100px;
}
div.priority div input {
  box-shadow: none;
}
div.due-date-input {
  flex-direction: row;
}
div.due-date-input label {
  width: 100px;
}
div.due-date-input input {
  /* width: 20px; */
}

div.buttons {
  flex-direction: row;
  justify-content: space-between;
}

/************************* button styling *************************/
button {
  appearance: none;
  background-color: #f8f8f8;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #eaeaea;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

/************************* checkbox styling *************************/
input[type="checkbox"] {
  display: -webkit-box;
  display: -ms-flexbox;
  background: #eee;
  display: flex;
  max-width: 40px;
  min-width: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"]:checked {
  background: #333;
}
input[type="checkbox"]:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked:after {
  left: calc(100% - 1.5em);
}

