@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 5px;
  color: #333;
}
/********************** header ********************/
.header {
  background-color: antiquewhite;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.logo {
  display: flex;
  align-items: center;
  width: max-content;
  height: 100%;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}
/********************** side-bar ********************/
.side-bar {
  grid-column: 1;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
li.project {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
li.project:hover {
  border-bottom: 1px solid #000000;
}

ul a {
  text-decoration: none;
  color: inherit;
}
/********************** main-content ********************/
.main-content {
  display: flex;
  flex-direction: column;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 15px;
}
.card-item {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 0.3fr;
  align-items: flex-start;
  padding: 15px;
  border: 2px solid;
  user-select: none;
}
.card-item:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.card-item:active {
  transform: translateY(5px);
}
.task .title {
  font-size: 18px;
  font-weight: 600;
}
.task .details {
  font-size: 14px;
}
.due-date p {
  width: max-content;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.main-content .settings {
  display: flex;
}
.main-content .settings span {
  cursor: pointer;
}
.settings {
  position: relative;
}
.settings #select {
  background-color: #b7b7b7;
  position: absolute;
  cursor: pointer;
  transform: translateY(-60px) translateX(-73px);
  border-radius: 5px;
}
.show {
  opacity: 0;
}
#select option {
  padding: 5px 10px;
  transition: 200ms ease-in-out;
}
#select option:hover {
  background-color: antiquewhite;
}
/********************** new task container ********************/
.add-new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.add-new-task:hover {
  background-color: rgb(245, 240, 220);
}
.add-new-task button {
  background-color: inherit;
  border: none;
  padding: 0 5px;
}

/********************** from styling ********************/
form {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  background-color: #a9a9a9;
  /* visibility */
  visibility: hidden; 
  left: calc(50% - 150px);
  top: calc(20%);
}
form input {
  width: 200px;
}
form div {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
div.priority {
  align-items: center;
}
div.priority p {
  align-self: flex-start;
}
div.priority div {
  flex-direction: row;
  width: 70%;
}
div.priority div label {
  width: 100px;
}
div.due-date-input {
  flex-direction: row;
}
div.due-date-input label {
  width: 100px;
}
div.due-date-input input {
  width: 20px;
}

div.buttons {
  flex-direction: row;
  justify-content: space-between;
}
div.buttons button {
  margin: 0 50px 0 0;
}
